extends layout

block content

  -
    var dignity = [
      'Мы активно участвуем и побеждаем в конкурсах государственной программы в ' +
      'области госзакупок и на коммерческих площадках.',
      'Инженеры компании имеют 10-летний опыт работы в сфере энергетики',
      'У нас организован собственный сервисный отдел с укомплектованной материально-технической базой',
      'Мы сформировали аварийную бригаду для круглосуточного оказания скорой технической помощи.'
    ]

    var services = [
      {
        name: 'Продажа дэс, запчастей, расходных материалов.',
        link: false
      },
      {
        name: 'Аренда дизельных электростанций.',
        link: true
      },
      {
        name: 'Поставка дэс и дгу по россии.',
        link: false
      },
      {
        name: 'Строительство мини-тэц.',
        link: true
      },
      {
        name: 'Сервисное обслуживание генераторных установок.',
        link: false
      },
      {
        name: 'Диагностика и ремонт дгу и дэс.',
        link: false
      },
      {
        name: 'Изготовление контейнеров для дэс.',
        link: false
      },
      {
        name: 'Круглосуточная техподдержка.',
        link: false
      }
    ]

    var customers = [
      'завод «Вимм-Билль-Данн»;',
      '«Ситибанк»;',
      'МЧС России;',
      'МосГаз;',
      'завод микроэлектроники «Микрон»;',
      'кондитерская фабрика «Большевик»;',
      'Сбербанк'
    ]

    var lease = [
      {
        name: 'Аренда электростанции 50 кВт',
        desc: 'Генераторная установка средней мощности. Оптимальное решение для небольших строительных ' +
        'и производственных площадок, для организации фестивалей.',
        price: '3200'
      },
      {
        name: 'Аренда электростанции 100 кВт',
        desc: 'Аренда дизельной электростанции такой мощности, прекрасное решение для снабжения энергией ' +
        'крупных фабрик и предприятий, больниц, гостиниц, больших строительных площадок.',
        price: '3600'
      },
        {
        name: 'Аренда электростанции 200 кВт',
        desc: 'Мощная генераторная установка обеспечивает постоянное электроснабжение на крупных заводах ' +
        'и в цехах, где в любой момент может произойти обрыв электропитания.',
        price: '5200'
      }
    ]

  include mixins/header
  include mixins/breadcrumbs
  include mixins/index-slider

  +header(false)

  main.main
    .detail
      .wrapper
        +breadcrumbs('Главная')
        h1.h1.blue О компании
        .two
          .col
          .col
            p.
              ООО «ГенМастер» на рынке малой энергетики с 2010 года. Мы наладили сотрудничество с
              ведущими заводами-изготовителями дизельных и газовых электростанций и комплектующих:
              FG Wilson, Cummins, Geko, SDMO, Caterpillar, AtlasCopco, IVECO и др., имеющих мировое
              признание в области обеспечения гарантированным энергоснабжением объектов инфраструктуры.
              Партнёрство позволило представить на российском рынке надёжное и долговечное оборудование,
              незаменимое в строительной, банковской, нефтегазовой, жилищной и других сферах.
        .two
          .col
            p
              a(href="#") Сервисное обслуживание
              br
              span.gray
                i Мы осуществляем полный комплекс услуг.
          .col
            p.
              Мы внедрили в работу систему менеджмента качества ISO 9001-2011. «ГенМастер»
              является членом СРО и имеет документы, подтверждающие право осуществлять
              строительство мини-ТЭС, монтаж и пуско-наладку ДГУ и ДЭС, а также выполнять
              другие смежные виды работ по проектированию, сервисному обслуживанию и
              ремонту энергетического оборудования.
        .two
          .col
          .col
            p
              a(href="images/history.png", data-fancybox)
                img(src="images/history.png")
      .main-second.no-pad.center
        iframe(width="637", height="360", src="https://www.youtube.com/embed/pBe9rGwHuhk",
        frameborder="0", gesture="media", allow="encrypted-media", allowfullscreen)
      .block.wrapper
        .two
          .col
          .col
            h3.h3 4 факта о нас
            .dignity-block
              each item, index in dignity
                .dignity
                  .dignity-img-block
                    img(src='images/dignity-' + (index + 1) +'.png').dignity__img
                  p.gray= item
            h3.h3 Наша команда
            p.
              Штат «ГенМастер» составляют грамотные менеджеры, квалифицированные инженеры и
              опытный руководительский отдел. Наши специалисты продуктивно и слаженно
              взаимодействуют друг с другом. Это является залогом профессионального и
              быстрого решения проблем наших клиентов. Инженеры прошли обучение работе
              с оборудованием, вводу в эксплуатацию, обслуживанию и ремонту в учебных
              центрах заводов-изготовителей и имеют именные сертификаты.
            p.
              Специалисты «ГенМастер» не только в теории досконально изучили вопросы
              электротехники и механики, а также овладели важными навыками профессионального
              общения с клиентами. Они ежедневно на практике применяют свое мастерство,
              справляясь с любыми задачами.
            h3.h3 Услуги
        .two
          .col
            p
              a(href="#") Сервисное обслуживание
          .col
            p.
              «ГенМастер» не только поставляет ДЭС и ДГУ. Наша компания – это настоящая мастерская
              по ремонту генераторов, где вы можете заказать любой вид ремонтных работ и сервисное
              обслуживание. У нас имеется собственный склад расходных материалов и запасных частей,
              автомобили для аварийных выездов к заказчику, ремонтная мастерская, инструменты и
              оборудование для диагностики.
            p.
              Благодаря современной технической базе сервисный отдел «ГенМастер» своевременно
              реагирует на вызовы клиентов и оказывает экстренную помощь в решении любых проблем.
        .two
          .col
            p
              a(href="#") Аренда дизельных генераторов
          .col
            p.
              «ГенМастер» предоставляет в аренду генераторы. У нас вы можете взять на короткий или
              длительный срок ДЭС и ДГУ мощностью от 30 до 2000 кВт от ведущих производителей Европы.
               Минимальная цена – 2500 за сутки.
            h3.h3.blue.no-bold Наши услуги:
            ol
              each item in services
                li
                  if (item.link)
                    a(href="#")=item.name
                  else
                    =item.name
        .two
          .col
          .col
            h3.h3.no-mar Клиенты и отзывы
        .two
          .col
            p
              a(href="#") Ознакомиться с отзывами клиентов
          .col
            p В число наших заказчиков входят:
            ul
              each item in customers
                li=item
            p.
              Покупатели ДЭС, клиенты по сервисному обслуживанию и арендаторы генераторов,
              обращаясь к нам, приобретают в лице нашей компании добросовестного поставщика,
              надёжного и исполнительного помощника, ориентированного на достижение успеха
              вашей компании.
        .two
          .col
            p
              a(href="#") Сервисное обслуживание
          .col
            p.
              «ГенМастер» предоставляет в аренду дизельные электростанции от ведущих европейских
              производителей. Ознакомьтесь с самыми популярными и наиболее востребованными ДЭС.
            each item in lease
              a(href="#").link= item.name
              .lease
                img(src="images/generator.png").lease__img
                .lease-desc=item.desc
                  p
                    b= 'Цена — ' + item.price + ' рублей/сутки'
        .two
          .col
            p
              a(href="#") Отзывы
          .col
            .info
              p
                b Хотите скидку?
              p.
                Закажите аренду электростанции, услугу оператора и доставку топлива.
                Или арендуйте электростанцию на длительное время, а чем оно больше, — тем больше скидка!


      .wrapper-min
        h3.h3.blue.no-bold.center «ГенМастер» – мастер по дизельным и газовым электростанциям!
      +index-slider
